# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
ENV/
.venv/

# Jika venv-mu berada di dalam folder backend
/backend/env/
/backend/venv/

# Distribution / packaging
build/
dist/
*.egg-info/